<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Test_1_1">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<style>wxTAB_TRAVERSAL|wxFULL_REPAINT_ON_RESIZE</style>
					<exstyle>wxWS_EX_VALIDATE_RECURSIVELY</exstyle>
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
								<cols>2</cols>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
										<label>Label</label>
										<handler function="OnButton1Click1" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
										<label>Label</label>
										<handler function="OnButton2Click1" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="obraz1" member="yes">
										<bitmap stock_id="wxART_MISSING_IMAGE" />
										<size>250,250</size>
										<enabled>0</enabled>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBitmap" name="ID_STATICBITMAP2" variable="obraz2" member="yes">
										<bitmap stock_id="wxART_MISSING_IMAGE" />
										<size>250,250</size>
										<enabled>0</enabled>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBitmap" name="ID_STATICBITMAP3" variable="obraz3" member="yes">
										<bitmap stock_id="wxART_MISSING_IMAGE" />
										<size>250,250</size>
										<enabled>0</enabled>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBitmap" name="ID_STATICBITMAP4" variable="obraz4" member="yes">
										<bitmap stock_id="wxART_MISSING_IMAGE" />
										<size>250,250</size>
										<enabled>0</enabled>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
										<label>Label</label>
										<enabled>0</enabled>
										<handler function="OnButton3Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
		</object>
	</object>
</wxsmith>
