<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="apo1Frame">
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<growablerows>1</growablerows>
						<object class="sizeritem">
							<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
								<label>Krok 1</label>
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
										<cols>1</cols>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
												<label>Wybierz obraz</label>
												<handler function="OnButton1Click" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="podglad" member="yes">
												<size>250,250</size>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
								<label>Krok 2</label>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
										<label>Zadanie 1</label>
										<object class="sizeritem">
											<object class="wxGridSizer" variable="GridSizer1" member="no">
												<cols>2</cols>
												<object class="sizeritem">
													<object class="wxCheckBox" name="ID_CHECKBOX1" variable="wyostrzanie1" member="yes">
														<label>Wyostrzanie 1</label>
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="ID_CHECKBOX2" variable="metoda2" member="yes">
														<label>Wyostrzanie 2</label>
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="ID_CHECKBOX4" variable="metoda3" member="yes">
														<label>Detekcja 1</label>
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="ID_CHECKBOX3" variable="wlasna" member="yes">
														<label>Detekcja 2</label>
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
										<cols>1</cols>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX5" variable="zad3" member="yes">
												<label>Zadanie 3 maska 5x5</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX6" variable="zad5" member="yes">
												<label>Poprawa ciągłości linii brzegowej</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX7" variable="zad6" member="yes">
												<label>Szkielet</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
								<label>Krok 3</label>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
										<label>Wykonaj operacje</label>
										<handler function="OnButton2Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxSHAPED|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
			<wildcard>*.bmp|*.bmp|*.bmp|*.bmp|*.gif|*.gif|*.jpg|*.jpg|*.png|*.png</wildcard>
		</object>
	</object>
</wxsmith>
